html
  head
    meta(charset='utf-8')
    style
      include courses.css
  body
    div(class='main')
      section(class='content')
        h1(class='center') Все курсы
      table(class='heavyTable')
        thead
          tr
            th № п/п
            th Название
        tbody
          each course, index in courses
            tr(onclick=`move(\"${course.id}\", \"${cookieValue}\")`)
              td=index
              td=course.name
script.
  function move(id, cookie) {
    window.location.href = `http://localhost:3000/course/${id}`
  }
